/*
    COMP 333: Software Engineering
    Oliver Diamond (odiamond@wesleyan.edu)
*/

/*
    This is the style sheet for the landing page of my music review platform. 
*/

/*
    Using the Quicksand light 300 font from Google for all body text
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@300&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    color: white;

}

div {
    text-align: center;
}

div.red{
    background-color: red;
    width: 100%;
    height: auto;
}

div.blue{
    background-color: aqua;
    width: 100%;
    height: auto;
}

div.yellow{
    background-color: yellow;
    width: 100%;
    height: auto;
}

#title {
    color: yellow;
    font-style: italic;
    font-weight: bolder;
}

#statement {
    font-size: 8vw;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: bold;
    padding: 0.5em 0 0 0;
    text-align: center;

}

#disclaimer {
    color: yellow;
    font-size: smaller;
    text-align: center;
}

hr.divider {
    border-top: 3px solid white;
    margin-bottom: 30px;
    margin-top: 30px;
}

h1.section_title {
    font-family: 'Noto Sans SC', sans-serif;
    text-align: center;
    font-size: 150%;
    color: yellow;
    padding: 0 0 1em 0;
}

