/*
    COMP 333: Software Engineering
    Oliver Diamond (odiamond@wesleyan.edu)
*/

/*
    This is the style sheet for the landing page of my music review platform. 
*/

/*
    Using the Quicksand light 300 font from Google for all body text
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    font-family: 'Noto Sans SC', sans-serif;
    color: white;

}

#title {
    color: yellow;
    font-style: italic;
    font-weight: bolder;
}

#statement {
    font-size: 10vw;
    font-weight: bold;
    padding: 20em 0 20em 0;
}