/*
    COMP 333: Software Engineering
    Oliver Diamond (odiamond@wesleyan.edu)
*/

/*
    This is the style sheet for the landing page of my music review platform. 
*/

/*
    Using the Quicksand light 300 font from Google for all body text except section headers which
    use the noto sans sc font.
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


body {
    background-color: black; /* Make website background black */
    font-family: 'Quicksand', sans-serif; /* default font is quicksand for all body text */
    color: white; /* font is white for all body text */

}

div {
    text-align: center; /* All text in divs is centered by default */
}

/* Use to make purple background for some chunck of text */
div.purple {
    background-color: rgb(115, 42, 231); 
}

/* Center table element, make border white */
table{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
}

/* Make the table headings yellow and center them*/
th {
    text-align: center;
    color: yellow;
}

/* Center the text in the table entries */
td{
    text-align: center;
}

/* Center images and make their width 25% of page size */
img {
    max-width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Make iframe span the entire width and height of the referenced page 
   and give it a solid yellow boarder */
iframe {
    width:100%;
    height:100%;
    border: solid;
    border-color: yellow;
}

/* Center unordered list */
ul {
    text-align: center;
    list-style-position: inside;
}

/* Make hyperlinks yellow and underline them */
a {
    color: yellow;
    text-decoration: underline;
}

/* Standardized class for the headings of each section of landing page */
h1.section_title {
    font-family: 'Noto Sans SC', sans-serif;
    text-align: center;
    font-size: 150%;
    color: yellow;
    padding: 0 0 1em 0;
}

/* Class for quotes which adds space above and below the text */
p.quote{
    padding: 1em 0 1em 0;
    font-size: large;
}

/* Class for a dividing bar which goes across the whole screen and splits the landing page into different sections */
hr.divider {
    border-top: 3px solid white;
    margin-bottom: 30px;
    margin-top: 30px;
}


/* Class for navbar with yellow background */
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: yellow;
    text-align: center;
    width: 20%;
}

.navbar a {
    display: block;
    color: black; /* Makes navbar links have black text */
    padding: 8px 8px; /* Makes clicking in the general area of link text send you to link (instead of just directly on text)*/
    text-decoration: none;
}

/* Makes box around link turn white when hovering over the link in the navbar*/
.navbar a:hover {
    background-color: white;
    color: black;
}

/* Class for the MyTunes logo */
.logo {
    color: yellow;
    font-style: italic;
    font-weight: bolder;
}

/* Class for name of a person that a quote is attributed to */
.name {
    color: yellow;
    font-style: italic;
}

/* ID for the unique massive eye catching statement at the top of the landing page */
#statement {
    font-size: 8vw;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: bold;
    padding: 0.5em 0 0 0;
    text-align: center;
    margin-bottom: 100px;
}

/* ID for the unique disclaimer about MyTunes not being a real product */
#disclaimer {
    color: yellow;
    font-size: smaller;
    text-align: center;
}
